# Binance 专用环境变量
FREQTRADE__BOT_NAME=Binance_Futures
FREQTRADE__TRADING_MODE=futures
FREQTRADE__MARGIN_MODE=isolated

FREQTRADE__EXCHANGE__NAME=binance
FREQTRADE__EXCHANGE__KEY=填写你的_Binance_API_KEY
FREQTRADE__EXCHANGE__SECRET=填写你的_Binance_SECRET

FREQTRADE__API_SERVER__ENABLED=true
FREQTRADE__API_SERVER__LISTEN_PORT=8080
FREQTRADE__API_SERVER__USERNAME=admin
FREQTRADE__API_SERVER__PASSWORD=your_password
FREQTRADE__API_SERVER__JWT_SECRET_KEY=yoursecret

FREQTRADE__DRY_RUN=true
FREQTRADE__STRATEGY=NostalgiaForInfinityX7
TZ=Asia/Shanghai
